


    <div class="top-header-area">
    
    </div>
    </div>
    <div id="fb-root"></div>
    <div class="vizew-main-menu" id="sticker">
    <div class="classy-nav-container breakpoint-off">
    <div class="container">
    
    <nav class="classy-navbar justify-content-between" id="vizewNav">
    
    <a id="" href="" class="nav-brand navbar-brand"><img src="/img/youlogo.jpeg" alt="YouTV" /></a>
    
    <div class="classy-navbar-toggler">
    <span class="navbarToggler"><span></span><span></span><span></span></span>
    </div>
    <div class="classy-menu">
    
    <div class="classycloseIcon">
    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
    </div>
    
     <div class="classynav">
            <ul>
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="archive-list.html">YouNews</a></li>
            <li><a href="#">YouEntertainment</a>
            <ul class="dropdown">
            <li><a href="index.html">Youmusic</a></li>
            <li><a href="archive-list.html">YouMovies</a></li>
            <li><a href="archive-grid.html">YouSports</a></li>
            </ul>
            </li>
            <li><a href="#">YouSpecials</a>
            
              <ul class="dropdown">
                <li><a href="index.html">Lifestyle</a></li>
                <li><a href="archive-list.html">Tourism & Wildlife</a></li>
                <li><a href="archive-grid.html">Hospitality & Travel</a></li>
                </ul>
            
            </li>
            <li><a href="#">Programmes</a>
            
              <ul class="dropdown">
                <li><a href="index.html">The Rural Voices</a></li>
                <li><a href="archive-list.html">YouWoman</a></li>
                <li><a href="archive-grid.html">Fashion Catalog</a></li>
                <li><a href="index.html">SoundCruz</a></li>
                  <li><a href="archive-list.html">The Artiste Timeline</a></li>
                  <li><a href="archive-grid.html">BeatBox with Boomba</a></li>
               
                </ul>
            
            </li>
            <li><a href="contact.html">YouPersonality</a></li>
            </ul>
      </div>
    </nav>
    </div>
    </div>
    </div>